/* Japanese Zen-themed Colors */
:root {
  --zen-background: #F5F5F5; /* Light grayish background */
  --zen-text: #333; /* Dark text color */
  --zen-accent: #81C784; /* Soft green accent color */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; /* Ensure at least the viewport height for smaller content */
}

/* Your existing styles for .App-logo, .App-header, .App-link, etc. remain unchanged */

.App-header {
  background-color: var(--zen-background); /* Set background color to light gray */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--zen-text); /* Set text color to dark */
}

/* Add a container for the main content with a margin-top to avoid overlapping with the header */
.App-main {
  margin-top: 60px; /* Adjust as needed based on your header size */
  margin-left: 20px; /* Add left margin */
  margin-right: 20px; /* Add right margin */
}
