body {
    background-color: #f0f0f0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; 
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

h1 {
    color: #008080; 
    text-align: center; 
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px; 
    margin: 0 auto; 
}

label {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #81C784; 
    color: #fff; 
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #4CAF50; 
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; 
}

li {
    margin-bottom: 20px; 
}

li button {
    margin-left: 10px; 
}

